.container {
  text-align: center;
  font-family: 'Muli', sans-serif;
  margin: auto;
}

.jumbotron {
  background-color: transparent;
}
#list {
  display: none;
  font-size: 22pt;
  text-align: center;
  display: inline;
}
/*
.form-group {
  margin-left: 30%;
  margin-right: 30%;
}*/
